<h1> Register User </h1>
  <%= erb :"_errors", layout: false, locals: {errors: @errors} %>
  <form action="/users" method="post">
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="E-mail">
    <br>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">
    <br>
    <input type="submit" value="Register">
  </form>
